
.servicios_container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 25px 0;
    
    .servicios_container h2{
        margin: 16px;
        font-size: 40px;
        text-transform: uppercase;
    }
    

}
